.article-container {
  width: 50%;
  padding: 2rem;
  display: flex;
  margin-right: auto;
  margin-left: auto;
  position: relative;

  background-color: #EFEFEF;
}

article h1, article h2, article h3, article h4 {
  font-family: 'Poppins', sans-serif;
  font-weight: 900;
  padding-bottom: .5em;
}

article h1 {
  font-size: 2rem;
  letter-spacing: 0;
 }

article h2 {
  font-size: 1.5rem;
 }

article h3 {
  font-size: 1.25rem;
}

article ol {
  padding-left: .5em;
  padding-bottom: 1em;
}

article ul {
  padding-left: .5em;
  padding-bottom: 1em;
}


@media (max-width: 400px){
  .article-container {
    width: 100%;
  }
}

@media (min-width: 400px) and (max-width: 800px){
  .article-container {
    width: 80%;
  }
}

@media (min-width: 800px){

}