.section {
  margin-top: 40px;
  margin-bottom: 40px;
}


.article-container {
  margin-top: 60px;
  width: 60%;
  padding: 25px;
  display: flex;
  margin-right: auto;
  margin-left: auto;
  position: relative;

  background-color: #FFF;
}

.article-container h1 {
  font-family: 'Georama', sans-serif;
  font-size: 2rem;
  font-weight: 900;
  letter-spacing: 0;
 }

.article-container h2, h3, h4 {
  font-size: 1rem;
  font-weight: 300;
  padding-bottom: .5em;
}

.article-container ol {
  padding-left: .5em;
  padding-bottom: 1em;
}

.article-container ul {
  padding-left: .5em;
  padding-bottom: 1em;
}

