.container {
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: #EFEFEF;
  color: #252525;
}

.blog-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(380px, 1fr));
  column-gap: 10px;
  row-gap: 10px;
}

/* Mobile Styles */
@media only screen and (max-width: 400px) {
  .blog-grid {
  }

}

/* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 960px) {
  .blog-grid {
  }

}

/* Desktop Styles */
@media only screen and (min-width: 961px) {
  .blog-grid {
  }
}

  
  