.blog-grid-item {
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    text-align: left;
    width: 400px;
    height: 25rem;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
  }

  .blog-grid-item:hover{
    box-shadow: 0px 10px 20px 5px rgba(0, 0, 0, 0.5);
    transform: translateY(-5px);
  }

  .thumbnail {
    background-color: #5379a0;
  }

  .article-title {
    margin-top: 1rem;
  }

  .article-excerpt {
    margin-bottom: 1rem;
  }

  .read-more {
    color: #C8A537;
    font-weight: 700;
    font-style: italic;
    text-decoration: none;
  }

  .meta-data {
    margin-top: auto;
    font-size: .8rem;
    font-style: italic;
    background-color: #EFEFEF;
    color:#252525;
    border-top:1px solid #252525;
  }

  .meta-data span+span::before {
    content: "•";
    margin: 0 .3rem 0 .2rem;
  }

  .meta-data span::before {
    color: #5379a0;
  }
