* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  min-height: 100vh;
}

.page {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  min-height: 100vh;
  height: 100%;
  width: 100%;
  background-color: #000;
  font-family: 'Raleway', sans-serif;
  font-size: 24px;
}

main {
  width: 100%;
}

header {
  width: 100%;
  padding: 1em 1em 1em 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 1em;
  padding-bottom: 1em;
  background-color: #000;
  text-align: center;
  color: #EFEFEF;
}

.page h1 {
  font-family: 'Raleway', sans-serif;
  font-size: 1em;
  font-weight: 300;
  letter-spacing: .25em;
 }

.page h2, h3, h4 {
  font-family: 'Georama', sans-serif;
}

.page h2 {
  font-size: 2.5em;
  font-weight: 900;
}

/* Mobile Styles */
@media only screen and (max-width: 400px) {
  .page h1 {
    font-size: .75em;
   }
  .page h2 {
    font-size: 1em;
  }
  .page h4 {
    font-size: .75em;
  }
}

/* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 960px) {


}

/* Desktop Styles */
@media only screen and (min-width: 961px) {

}