* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 16px; /* min */
}

html, body {
  height: 100%;
}

body {
  min-height: 100vh;
}

.page {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  min-height: 100vh;
  height: 100%;
  width: 100%;
  background-color: #EFEFEF;
  color: #393d47;
  font-family: 'Poppins', sans-serif;
}

main {
  width: 100%;
}

header {
  width: 100%;
  padding: 1em 1em 1em 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 1em;
  padding-bottom: 1em;
  background-color: #EFEFEF;
  text-align: center;
  color: #393d47;
}

h1 h2, h3, h4 {
  font-family: 'Poppins', sans-serif;
  font-weight: 900;
}

h1 {
  font-family: 'Montserrat Alternatives', sans-serif;
  font-size: 1rem;
  font-weight: 300;
  letter-spacing: .25rem;
 }

h2 {
  font-size: 1.75rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.1rem;
  font-weight: 700;
}

p {
  font-size: 1rem;
  line-height: 1.5rem;
  margin-bottom: 1rem;
}

a {
  font-size: 1rem;
}

li {
  font-size: 1rem;
}

/* font-size: 16px; min */
/* font-size: 18px; max */
@media (min-width: 400px) and (max-width: 800px){
  :root { 
    font-size: calc( 16px + (18 - 16) * ( (100vw - 400px) / ( 800 - 400) ));
  }
}

@media (min-width: 800px){
  :root { 
    font-size: 18px;
  }
}
