.container {
    width: 100%;
    padding: 1em 1em 1em 1em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    background-color: #EFEFEF;
    color: #252525;
}

.profile-image {
  width: 300px;
  padding-top: 1em;
  padding-bottom: 1em;
  padding-right: 1vw;
  background-color: #EFEFEF;
  color: #252525;
}

.profile {
  padding-left: 1vw;
}

.profile-image img {
  border-radius: 50%;
  border-color: #5379a0;
  border-width: 10px;
  border-style:double;
}







/* Mobile Styles */
@media only screen and (max-width: 400px) {
  .profile {
    width: 300px;
  }

}

/* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 960px) {
  .profile {
    width: 600px;
  }

}

/* Desktop Styles */
@media only screen and (min-width: 961px) {
  .profile {
    width: 800px;
  }
}
